
.lettera {
  font-family: "Playwrite IT Moderna", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.bg-glass {
  background: rgba(255, 255, 255, 0.1); /* Transparent White */
  backdrop-filter: blur(10px); /* Blur Effect */
  border-radius: 50px; /* Rounded Pill */
  padding: 10px 30px; /* Padding for better visibility */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Light Border */
}

.service-card {
  transition: transform 0.3s ease-in-out;
}
.service-card:hover {
  transform: scale(1.05);
}
